#initLoader{
    background-image: url(https://media.discordapp.net/attachments/661004708852269080/867827020884213780/Screenshot_2021-07-22_131147.png?width=932&height=467)!important;
    background-size:cover;
}

#loadInfoRHolder{
    background-color:#0000003b;
    padding: 10px 10px;
}
#loadInfoLHolder{
    background-color:#0000003b;
    padding: 10px 10px;
}
#loadTipsHolder{
    background-color:#0000003b;
    padding: 10px 10px;
}
#loadInfoLHolder::after{
    position:fixed;
    background-color:#0000003b;
    padding: 10px 10px;
    content: "Gatoclient by creepycatsttv";
    width:370px;
    bottom: -0.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mainLogo{
    content: url(https://cdn.discordapp.com/attachments/661004708852269080/859574411770200064/logo_1.png);
}
#aHider{
    display:none!important;
}
#mapInfo::before {
    visibility: visible;
    z-index:100;
    content: 'Gatoclient | ';
    width:600px;
	bottom: 75px;
	font-size:20px;
	display:
}

/* Menu Timer */
#uiBase.onMenu #spectateUI {
	display: block !important;
}
#uiBase.onMenu #spectateUI > :not(#spectateHUD) {
	display: none !important;
}
#uiBase.onMenu #spectateHUD > :not(.spectateInfo, #specGMessage) {
	display: none !important;
}
#uiBase.onMenu #specTimer {
	font-size: 28px;
	text-align: center;
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	top: 20px;
	width: 221px;
	height: 89px;
	padding: 20px;
	margin:0;
	border-radius: 0;
	background-color: transparent;
	will-change: unset;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}
#uiBase.onMenu #spectateHUD {
	transform:translate(-50%,-50%);
	position:fixed;
	top:55%;
}