/* Menu Timer */
#uiBase.onMenu #spectateUI {
	display: block !important;
}
#uiBase.onMenu #spectateUI > :not(#spectateHUD) {
	display: none !important;
}
#uiBase.onMenu #spectateHUD > :not(.spectateInfo, #specGMessage) {
	display: none !important;
}
#uiBase.onMenu #specTimer {
	font-size: 28px;
	text-align: center;
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	top: 20px;
	width: 221px;
	height: 89px;
	padding: 20px;
	margin:0;
	border-radius: 0;
	background-color: transparent;
	will-change: unset;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}
#uiBase.onMenu #spectateHUD {
	transform:translate(-50%,-50%);
	position:fixed;
	top:55%;
}
